apiVersion: v1
kind: Service
metadata:
  name: arbeit-mysql
  labels:
    app: arbeit-mysql
spec:
  ports:
    - port: 3306
      targetPort: 3306
      protocol: TCP
      name: mysql
  selector:
    app: arbeit-mysql
  type: ClusterIP
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: arbeit-mysql-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: arbeit-mysql
  labels:
    app: arbeit-mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: arbeit-mysql
  template:
    metadata:
      labels:
        app: arbeit-mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "rootpw"
            - name: MYSQL_DATABASE
              value: "arbeit"
            - name: MYSQL_USER
              value: "admin"
            - name: MYSQL_PASSWORD
              value: "asdfghjks"
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-data
          persistentVolumeClaim:
            claimName: arbeit-mysql-pvc
